<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe Form</title>
<body>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}     
    <button type="submit">Upload</button>
  </form>

  {% if saved %}
    <h3>File Path: {{ saved.file.url }}</h3>
    <h3>File Description: {{ saved.description }}</h3>
  {% endif %}
</html>